<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Oklahoma Telugu Sangham</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/datatables/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*@Html.ActionLink("OkTelugu.org","oktelugu.org", new { area = "" }, new { @class = "navbar-brand" })*@
                <a class="navbar-brand" href="http://OkTelugu.org">OkTelugu.Org</a>
                    <a class="navbar-brand" rel="home" href="#" title="Oklahoma Telugu Sangham(OTS)">
                        <img style="max-width:50px; margin-top: -7px;"
                             src="http://www.oktelugu.org/templates/beez/images/logo.gif">
                    </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index","Home")</li>
                    <li>@Html.ActionLink("Membership Details","Index","OTSMembers")</li>
                    <li>@Html.ActionLink("Directory", "Directory", "OTSMembers")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    @if (Request.IsAuthenticated && User.IsInRole("Administrator")){
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administration <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Roles Administration", "Index", "RolesAdmin")</li>
                            <li>@Html.ActionLink("Users Administration", "Index", "UsersAdmin")</li>
                        </ul>
                    </li>
                        }
                    @if (Request.IsAuthenticated && (User.IsInRole("Administrator") || User.IsInRole("Committee")))
                    {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Committee <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Sponsorship List", "Index", "MemberSponsorships")</li>
                            <li>@Html.ActionLink("Members List", "MembersList","OTSMembers")</li>
                            <li>@Html.ActionLink("Current Members List", "CurrentMembersList", "MemberSponsorships")</li>
                            <li>@Html.ActionLink("Expenses", "Index", "Expense")</li>
                            <li>@Html.ActionLink("OTS Address", "Index", "OTSAddresses")</li>
                        </ul>
                    </li>
                     }

                @Html.Partial("_LoginPartial")
                    </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Oklahoma Telugu Sangham</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/OTSMembers")
    @RenderSection("scripts", required: false)
</body>
</html>
