@model IEnumerable<OTSMembers.Models.MemberSponsorship>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferredBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occassion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.verificationStatus)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferredBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occassion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.verificationStatus)
        </td>
    </tr>
}

</table>
